* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: rgb(17, 42, 64);
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 50px;
}

.score-board {
    margin: 20px auto;
    width: 300px;
    border: 2px solid white;
    color: white;
    font-size: 60px;
    border-radius: 5px;
    position: relative;
    padding: 15px;
    text-align: center;
}

.badge {
    font-size: 35px;
}

#user-label {
    position: absolute;
    left: -35px;
    background-color: red;
    top: 28px;
}

#computer-label {
    position: absolute;
    right: -35px;
    background-color: red;
    top: 28px;
}

.result {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}

.user-choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.user-choice img {
    width: 200px;
    height: auto;
    border: 3px solid red;
    border-radius: 50%;
}

.footer {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 45px;
}